<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Room Booking</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<link type="text/css" rel="stylesheet" href="css/style2.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
        

</head>

<!-- Main Header Start -->
                       
                            <!-- Nav Start -->
<!--                             <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="./index.html">Home</a></li>
                                    <li><a href="./room.html">Rooms</a></li>
                                    <li><a href="./about.html">About Us</a></li>
                                </ul>
                            </div> -->
                            <!-- Nav End -->
                      
    <!-- Header Area End -->

<body>

<!--header-->
  <header class="main-header" id="header">
    <div class="bg-color">
      <!--nav-->
      <nav class="nav navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                            <span class="fa fa-bars"></span>
                        </button>
              <a href="index.html" class="navbar-brand">Booking Room</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="mynavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#header">Home</a></li>
                <li><a href="#feature">My Booking</a></li>
                <!-- <li><a href="#portfolio">Portfolio</a></li> -->
                <li><a href="#logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      
      </div>
    </div>
  </header>
  <!--/ header-->
  <!---->

	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-cta">
						<h1>ROOM BOOKING</h1>
						<h2>Make Your Reservation</h2>
					</div>
					<div class="booking-form">
						<form>
							<!-- <div class="col-md-8">
								<div class="form-group">
									<span class="form-label">Nama Pemesan</span>
									<input class="form-control" type="text" placeholder="Enter Address, zip, city or airport">
								</div>
							</div> -->
							<div class="col-md-4">
								<div class="form-group">
									<span class="form-label">Room</span>
									<select class="form-control">
										<option>GD421</option>
										<option>GD422</option>
										<option>GD423</option>
										<option>GD513</option>
										<option>GD514</option>
										<option>GD515</option>
										<option>GD516</option>
										<option>GD523</option>
										<option>GD524</option>
										<option>GD525</option>
										<option>GD526</option>
										<option>GD711</option>
										<option>GD712</option>
										<option>GD713</option>
										<option>GD721</option>
										<option>GD722</option>
										<option>GD723</option>
										<option>GD724</option>
										<option>GD725</option>
										<option>GD821</option>
										<option>GD912</option>
										<option>GD913</option>
										<option>GD923</option>
										<option>GD924</option>
										<option>GD925</option>
										<option>GD933</option>
										<option>GD934</option>
										<option>GD916</option>
										<option>GD941</option>
										<option>GD942</option>
										<option>Auditorium</option>
										
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
							<!-- <div class="col-md-2">
								<div class="form-group">
									<span class="form-label">Capacity</span>
									<select class="form-control">
										<option>30-60</option>
										<option>60-150</option>
										<option>150-200</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div> -->
							<div class="col-md-4">
								<div class="form-group">
									<span class="form-label">Reservation Date</span>
									<input class="form-control" type="date" required>
								</div>
							</div>
							<!-- <div class="col-md-4">
								<div class="form-group">
									<span class="form-label">Check out</span>
									<input class="form-control" type="date" required>
								</div>
							</div> -->
							<div class="col-md-4">
								<div class="form-btn">
									<button class="submit-btn">Check availability</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>