<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Room Booking</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<link type="text/css" rel="stylesheet" href="css/style2.css" />        

	<style> 


</style>
	
</head>
<body>

	<div class="header">
	  <a href="#default" class="logo">Room Booking</a>
	  <div class="header-right">
	    <a th:href="@{/}" class="active">Home</a>
	    <a th:href="@{/history}">My Booking</a>
	    <a th:href="@{/logout}">Sign Out</a>
	  </div>
	</div>
  
	<div class="container list-search">
					<div class="row">
						<div class="booking-cta">
							<h1>ROOM BOOKING</h1>
							<h2>Make Your Reservation</h2>
						</div>
						<div class="booking-form">
							<form>
								
								<div class="col-md-8">
									<div class="form-group">
										<span class="form-label">Reservation Date</span>
										<input class="form-control" type="date" required>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-btn">
										<button class="submit-btn">Check availability</button>
									</div>
								</div>
							</form>
							
						</div>
						
					</div>
					
					<!-- LIST -->
					
					<div class="row">
						<div class="container col-md-12">
							<div class="box history">
								<div class="row">
									<div class="row">
										<h3 class="text-inside title-txt">GD 722</span></h3>
									</div>
									<div class="row">
										<div class="col-md-4">
											<span class="text-inside item-txt">Date		: 5 juni 2019</span>
										</div>
										<div class="col-md-4">
											<span class="text-inside item-txt">Capacity		: 100</span></span>
										</div>
									</div>
								</div>
								<form action="" class="pull-right">
										<input type="submit" name="booking" value="Book" class ="btn booking-btn">
								</form>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="container col-md-12">
							<div class="box history">
								<div class="row">
									<div class="row">
										<h3 class="text-inside title-txt">GD 722</span></h3>
									</div>
									<div class="row">
										<div class="col-md-4">
											<span class="text-inside item-txt">Date		: 5 juni 2019</span>
										</div>
										<div class="col-md-4">
											<span class="text-inside item-txt">Capacity		: 100</span></span>
										</div>
									</div>
								</div>
								<form action="" class="pull-right">
										<input type="submit" name="booking" value="Book" class ="btn booking-btn">
								</form>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="container col-md-12">
							<div class="box history">
								<div class="row">
									<div class="row">
										<h3 class="text-inside title-txt">GD 722</span></h3>
									</div>
									<div class="row">
										<div class="col-md-4">
											<span class="text-inside item-txt">Date		: 5 juni 2019</span>
										</div>
										<div class="col-md-4">
											<span class="text-inside item-txt">Capacity		: 100</span></span>
										</div>
									</div>
								</div>
								<form action="" class="pull-right">
										<input type="submit" name="booking" value="Book" class ="btn booking-btn">
								</form>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="container col-md-12">
							<div class="box history">
								<div class="row">
									<div class="row">
										<h3 class="text-inside title-txt">GD 722</span></h3>
									</div>
									<div class="row">
										<div class="col-md-4">
											<span class="text-inside item-txt">Date		: 5 juni 2019</span>
										</div>
										<div class="col-md-4">
											<span class="text-inside item-txt">Capacity		: 100</span></span>
										</div>
									</div>
								</div>
								<form action="" class="pull-right">
										<input type="submit" name="booking" value="Book" class ="btn booking-btn">
								</form>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="container col-md-12">
							<div class="box history">
								<div class="row">
									<div class="row">
										<h3 class="text-inside title-txt">GD 722</span></h3>
									</div>
									<div class="row">
										<div class="col-md-4">
											<span class="text-inside item-txt">Date		: 5 juni 2019</span>
										</div>
										<div class="col-md-4">
											<span class="text-inside item-txt">Capacity		: 100</span></span>
										</div>
									</div>
								</div>
								<form action="" class="pull-right">
										<input type="submit" name="booking" value="Book" class ="btn booking-btn">
								</form>
							</div>
						</div>
					</div>
					
					<!-- END LIST -->
					
				</div>
	
</body>

</html>